/**
* Default Layout
*/

body{
  background-color:#efefef;
}

em{
  font-style: italic;
}

strong{
  font-weight:bold;
}

.clear{
  clear:both;
  margin:0;
  padding:0;
}

.clear_right{
  clear:right;
}

.hidden_object{
  display:none;
}

.link_decoration_underline{
  text-decoration:underline;
}

.img_border_radius5px{
  border-radius:5px;
}

.img_border_radius{
  border-radius:7px;
}

.img_not_visible{
  visibility:hidden;
}

.sup{
  font-size: smaller;
  vertical-align: super;
}

.error{
  color:#DD0000;
}

.float_right{
  float:right !important;
  display:block !important;
}

.float_left{
  float:left !important;
  display:block !important;
}

.align_center{
  text-align: center;
}

.font24px{
  font-size:24px;
  color:#999;
}

.font20px{
  font-size:20px;
}

.font12px{
  font-size:12px;
  color:#999;
}
.font11px{
  font-size:11px;
}
.font10px{
  font-size:10px;
  color:#999;
}

.black{
  color:#000;
}

.block_relative{
  position:relative;
}

.hide{
  display:none;
}

.valign_middle{
  vertical-align: middle;
}

.cross_delete_ads{
  display: block;
  height: 13px;
  position: absolute;
  width: 13px;
}

.hover_underline:hover{ text-decoration:underline; }

a{
  color:#999;
  font-size:12px;
}

a:hover{
  color:#777;
}

b{
  font-weight: bold;
}

.ads300_250{
  width:300px;
  height:250px;
  overflow:hidden;
}

#wrapper{
  padding-top: 15px;
}

#wrapper_no_padding{
  padding:0;
}

.wrapper_profile{
  height:1000px;
  background-color:#efefef;
}

#container{
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 15px 15px 15px 30px;
  width: 953px;
}

#banner_goldcam{
  max-height: 200px;
  line-height: 0;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  overflow:hidden;
}

#logo{
  float: left;
  font-size: 24px;
  height: 32px;
  padding-top: 4px;
  position: relative;
  width: 133px;
  z-index: 2;
}

.fotolog_title{
  color: #000000;
  display: block;
  float: left;
  font-size: 18px;
  margin-top: 6px;
}

/** Head Bar **/

#head_bar {
  position:relative;
  z-index: 60;
  background-color: #161B1F;
  font-size: 12px;
}

#head_bar_container{
  position:relative;
  width: 980px;
  height: 40px;
  margin: 0 auto; 
  color: #999999; 
}

#head_bar .fotolog_title{
  font-size: 20px;
  margin:2px 0 0 5px;
  color:#999;
}

#menu li a#menu_hidden_active_link{width:82px;color:#00CBFE;}

#menu_hidden li a:hover{
  color:#00CBFE;
}

#menu_hidden{
  background-color: #333333;
  border-left:1px solid #47484A;
  border-bottom:1px solid #47484A;
  border-right:1px solid #47484A;
  padding:5px 0;
  position:relative;
  z-index:1051;
  margin-top:-1px;
}

#menu_hidden li a{
  color:#CBCCCE;
  display:block;
  padding: 3px 3px 3px 10px;
}

#menu > li{
  float:left;
  display: block;
  margin:0 3px;
}

* html #menu li{
  float:left;
  display: block;
  margin:0 3px;
}

#menu li#li_search{
  margin-right:4px;
}

#menu li#li_submenu{
  margin-right:5px;
}

#menu #menu_hidden li{
  float:none;
}

#menu li a.menu_link{
  border-radius:4px;
  display:block;
  margin-top:8px;
  padding:5px 4px;
  text-decoration:none;
  background-color:#333333; 
  color:#CBCCCE;
  border:1px solid #47484A;
  width: 105px;
  height: 12px;
}

#menu li a.menu_link:hover{
  background-color:#595959;
}

#menu li a.menu_link.mobile{
  width: 63px;
  border: 0;
  padding: 0 2px 0 0;
}

#search_form{
  margin: 8px 0 0 15px;
  width:184px;
  position:relative;
}

#search_form input{
  color:#9A9A9A;
  border-radius: 2px;
  height: 21px;
  width:173px;
  padding-left:5px;
  padding-top:1px;
  background-color:#333333;
}

#search_form input[type="text"]{
  border:1px solid #47484A;
}

#search_form input::-webkit-input-placeholder {
  color:#9A9A9A;
}
#search_form input:-moz-placeholder {
  color:#9A9A9A;
}

input#search_button{
  background:url("/styles/images/loupe_grey.png") no-repeat scroll 4px 2px transparent;
  color: transparent;
  cursor: pointer;
  height: 18px;
  left: 158px;
  padding: 0;
  position: absolute;
  top: 3px;
  width: 21px;
  text-indent: -9000px;
  border: 0;
}

/**
* Head user_menu connected
**/

#menu{
  height: 40px;
  position: relative;
  left:0;
  top:0;
  width: 820px;
  float: left;
}

li#head_user_block{
  background-color: #2F3437;
  border-left: 1px solid #45494C;
  border-right: 1px solid #45494C;
  height: 40px;
  position: absolute;
  top:0;
  right: 22px;
  width: 242px;
}

#head_bar_avatar{
  display:block;
  float:left;
  margin:4px 0 0 5px;
}

#head_bar_user_name{
  display:block;
  float:left;
  color:#fefefe;
  margin: 12px 0 0 8px;
  font-weight:bold;
}

li#head_user_menu{
  width: 242px; 
  position: absolute; 
  display: none; 
  z-index: 1000;
  background-color: #2F3437;
  border:1px solid #45494C; 
  border-top: 0;
  top:40px;
  right:22px;
}

#head_user_menu ul{
  padding:10px;
}

#head_user_menu li{
  float: none;
  padding:3px 0;
}

#head_user_menu li hr{
  background-color: #171C1F;
  border: 0 none;
  height: 1px;
}

#head_user_menu a {
  color:#969A9B;
}

#menu li#head_user_notifications{
  cursor: pointer;
  height: 28px;
  margin: 13px 0 0 0;
  width: 47px;
}

li#head_user_notifications_menu{
  width: 280px;
  position: absolute; 
  display: none; 
  z-index: 1000;
  background-color: #2F3437;
  border:1px solid #45494C;
  border-top: 2px solid #FFD800;
  top:40px;
  right:272px;
}
ul#list_notifications {
  padding: 0;
}
ul#list_notifications li.heading {
  background-color: #161B1F;
  height: 16px;
  padding-top: 4px;
  text-align: center;
  border-bottom: 1px solid #474747;
}
ul#list_notifications li.heading.heading_small {
  height: 8px;
}
ul#list_notifications li.heading,
ul#list_notifications li.heading a {
  color: #FBE100;
  font-size: 10px;
}
ul#list_notifications li.heading a:hover {
  text-decoration: underline;
}
ul#list_notifications li.notif {
  padding: 0;
  margin: 0;
  color: #848484;
  border-bottom: 1px solid #474747;
  height: 40px;
  font-size: 11px;
  overflow: hidden;
}
ul#list_notifications li.notif a.notif_block {
  display: block;
  color: #848484;
  padding: 4px;
  text-decoration: none;
  height: 32px;
  margin-left: 38px;
}
ul#list_notifications li.notif a.notif_block {
  color: #848484;
}
ul#list_notifications li.notif img {
  width: 30px;
  height: 30px;
  float: left;
  margin: 4px;
}
ul#list_notifications li.notif span.notif_user_name {
  font-size: 11px;
  color: #DEDEDE;
}
ul#list_notifications li.notif span.notif_date {
  display: block;
  padding-top: 5px;
  color: #616161;
  font-size: 11px;
}
ul#list_notifications li.notif.state_old {
  background-color: #24282B;
}
ul#list_notifications li.notif.state_new {
  background-color: #2F3437;
}

/* 
* Geo Search
*/

#container #geo_search h3{
  border:0;
}

#geo_search label{
  font-size:12px;
}

#geo_form{
  width:300px;
}

#geo_form .submit_button{
  display:block;
  margin:0 auto;
  width: 150px;
}

.label_select{
  display:inline-block;
  width:71px;
  color:#9a9a9a;
}

.geo_select{
  border: 1px solid #e0e0e0;
  background-color:#efefef;
  display: inline-block;
  padding: 3px;
  width: 200px;
}

#geo_form p{
  margin-bottom:7px;
}

.submit_button{
  border-radius:5px;
  color:#fff;
  background-color:#000;
  cursor:pointer;
  text-align: center;
}

/** 
* Promoted Banner
**/

#promoted_banner{
  border: 7px solid #000000;
  clear: both;
  height: 83px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 937px;
}

#promoted_banner ul{
  border: 4px solid #FFFFFF;
  background-color:#fff;
  position: absolute;
  width: 5000px;
  overflow: hidden;
}

#promoted_banner ul li.preloaded{
  width:0;
}

#promoted_banner h5{
  margin-bottom:10px;
  font-size:12px;
}

/**
* Footer
*/

#footer{
  clear: both;
  color: #9B9B9B;
  font-size: 12px;
  margin: 0 auto;
  padding: 15px 40px 15px;
  text-align: center;
  width: 920px;
}

#footer a{
  color:#9b9b9b;
  font-weight:bold;
}

#footer p{
  clear:both;
  margin-top:20px;
  line-height: 15px;
}

#footer_links li{
  display:inline-block;
  line-height: 17px;
}

#footer_links li a{
  font-weight: normal;
}

#footer_links li a:hover{
  text-decoration: underline;
}

/**
* Pagination
*/

#pagination{
  text-align: center;
  min-width: 600px;
}

#pagination a, #pagination strong{
  display:inline-block;
  padding:5px;
  min-width:16px;
  color:#999;
  text-align: center;
  font-size:16px;
}

#pagination a:hover, #pagination strong{
  background-color:#999;
  border-radius:5px;
  color:#fff;
}

/**
* Message Bar
*/

.message_bar{
  width: 968px;
  margin:15px auto 0;
  padding:15px;
}
.message_bar.message_bar_gallery {
  margin: 8px auto;
}

#error_msg_bar{
  background-color: #FFEEEE;
  border: 1px solid #DD0000;
  color: #CC0000; 
}

#warning_msg_bar{
  background-color: #FFE5B4;
  border: 1px solid #FF6600;
  color: #EC5800;
}

#success_msg_bar{
  background-color: #EEFFEE; 
  border: 1px solid #00DD00;
  color: #00CC00;
}

#notice_msg_bar{
  background-color: #FFFFCB;
  border: 1px solid #FBCE0D;
  color: #9C979F;
  position:relative;
}

#notice_msg_bar .float_right a{
  float: right;
    position: relative;
    right: 0;
    top: -5px;
    margin-left:10px;
}

#top_pub{
  display:none;
  width:729px;
  height:90px;
  width: auto;
  height: auto;
  margin:0 auto 30px;
  margin-left: -15px;
}

#bottom_pub{
  width:729px;
  height:90px;
  margin:30px auto 10px auto;
}

.favorite_button{
  background: url("/styles/images/bouton-favori.png") no-repeat scroll left top transparent;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  padding-left: 28px;
  padding-top: 7px;
  width: 62px;
}

.favorite_button:hover{
  background-image: url("/styles/images/bouton-favori-over.png");
  color:#fff;
}

.unfavorite_button{
  background:transparent url("/styles/images/bouton-favori-out.png") no-repeat left top;
  float:right;
  width:40px;
  height:27px;
  display:block;
}

#wall_right_column h3 a.a_modify_account{
  font-size:11px;
  margin:0;
  text-transform: none;
  border:0;
  float: right;
  padding:0;
  text-decoration: underline;
  position: relative;
  right: 0;
  top: 1px;
  *top:-15px;
}

.button_26px, .button_input_26px{
  background: url("/styles/images/bouton-26-content.png") repeat-x scroll left top #151B1E;
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 16px;
  padding: 6px 10px;
  border-radius:5px;
  margin:0 auto;
  text-align: center;
}

.button_30px, .button_input_30px{
  background: url("/styles/images/bouton-30-content.png") repeat-x scroll left top #151B1E;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 16px;
  padding: 7px 10px;
  border-radius:5px;
  margin:0 auto;
  text-align: center;
}

.button_26px:hover, 
.button_30px:hover, 
.button_44px:hover{
  color:#fff;
}

.button_30px_gold:hover{
  color:#000;
}

.button_input_26px{
  height: 26px;
  padding: 0 10px;
}

.button_input_30px{
  height: 30px;
  padding: 0 10px;
}

.button_30px:hover, .button_input_30px:hover{
  background-image: url("/styles/images/bouton-30-content-over.png");
  background-color: #848A8D;
  color:#fff;
}

.button_30px_gold{
  background: url("/styles/images/bouton-gold-30-content.png") repeat-x scroll left top #FFCB00;
  color: #161B1F;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 16px;
  padding: 8px 10px;
  width: 195px;
  border-radius:5px;
  text-align:center;
  margin:0 auto;
}

.button_input_30px_gold{
  background: url("/styles/images/bouton-gold-30-content.png") repeat-x scroll left top #FFCB00;
  color: #161B1F;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius:5px;
  text-align:center;
  margin:0 auto;
}

.button_44px, .button_input_44px{
  background: url("/styles/images/bouton-44-content.png") repeat-x scroll left top #151B1E;
  color: #FFFFFF;
  display: block;
  font-size: 19px;
  font-weight: bold;
  height: 32px;
  padding: 8px 10px;
  margin:0 auto;
  text-align: center;
}

.button_input_44px{
  height: 44px;
  padding: 0 10px;
}

.button_44px:hover, .button_input_44px:hover{
  background-image: url("/styles/images/bouton-44-content-over.png");
  background-color: #848A8D;
}

.button_gray_30px{
  height: 24px;
  width:80px;
  text-align:center;
  padding:5px 10px;
  background-color:#BEBEBE;
}

.button_red_30px{
  height: 24px;
  padding:5px 10px;
  width:80px;
  text-align:center;
  background-color:#FE0000;
}

#wall_share_button{
  border-radius:5px;
  border-right:1px solid #E3E4E5;
  display: inline-block;
  height: 39px;
  width: 205px;
  float:left;
  font-size:15px;
  font-weight:bold;
  color:#999;
  padding-top:2px;
  background:transparent url("/styles/images/bouton-publier-content.png") repeat-x left top;
}

#wall_share_button img{
  vertical-align: middle;
  margin-top: -2px;
}

#wall_group_discover li{
  clear:both;
  margin-top:10px;
}

/**
* Overlay
*/

#overlay{
  background: #000 url('/styles/images/greybox-degrade.png') repeat-x left top;
  position:relative;
}

#overlay .close_overlay{
  position:absolute;
  right:5px;
    top:5px;
}

#overlay .contentWrap{
  padding:10px;
  text-align: center;
  font-size:12px;
  color:#999;
  line-height:14px;
}

#overlay h3{
  font-size:24px;
  color:#999;
  text-transform: uppercase;
  text-align: left;
  margin:15px 0 35px 5px;
}

#overlay .contentWrap hr{
  height:1px;
  border:0;
  background-color:#323232;
  margin-bottom:22px;
}

#overlay .contentWrap .button_30px_gold{
  margin-bottom:20px;
}

#overlay .contentWrap ul{
  text-align: left;
  font-size:14px;
  margin:0 0 35px 0;
}

#overlay .contentWrap ul li{
  margin-bottom:15px;
}

#overlay .contentWrap ul li img{
  margin-right: 10px;
  display: inline-block;
  width:21px;
}

#overlay .contentWrap .font_uppercase img{
  vertical-align: middle;
}

#overlay .contentWrap .yellow{
  color:#E2B709;
}

#overlay .contentWrap .font10px{
  color:#545454;
  text-transform: none;
  margin-left:35px;
}

#overlay .contentWrap .font_uppercase{
  text-transform: uppercase;
}

/**
* Promote link
*/

#promote_link{
  background: url("/styles/images/bouton-banniere-visibilite.png") no-repeat scroll left top transparent;
  display: block;
  height: 45px;
  padding-left: 10px;
  padding-top: 30px;
  width: 112px;
  z-index: 10;
  position:relative;
  color:#CACBCD;
  font-size:12px;
}

.vip_promoted{
  font-weight:bold;
  text-indent: 30px;
}

#promoted_banner li#promote_your_photo_black{
  margin-right: 0;
  float:left;
}

#promoted_banner li {
  width:100px;
  margin-right:4px;
  height:75px;
}

/**
* Overlay delete ads
*/

#overlay ul#ul_delete_ads{
  margin-left: 15px;
  width: 310px;
}

#ul_delete_ads .font10px{
  display:block;
}

.link_drop_down_toolbox{
  /*background: url("/styles/images/fleche-info-mur.png") no-repeat scroll left top transparent;*/
  display: block;
  font-size: 11px;
  height: 13px;
  position: absolute;
  right: 0;
  text-indent: -9000px;
  top: 0;
  width: 13px;
  z-index: 30;
}

.link_answer_to{
  position:absolute;
  top:0;
  right:25px;
}

.link_answer_to:hover{
  text-decoration:underline;
}

.drop_down_toolbox{
  background-color: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 2px 2px 2px #999999;
  display: none;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 13px;
  z-index: 30;
}

#wall_list_friends .drop_down_toolbox a,
#wall_list_reverse .drop_down_toolbox a
{
  color:#000;
  font-size:11px;
  font-weight:normal;
}

/* Add terra banner for MX/AR/CI/CO/US */
#terra_banner {
  background-color: #161B1F; 
  margin: 0; 
  padding: 0;
}
#terra_banner_inner {
  width: 980px; 
  margin: 0 auto 0 auto; 
  background-color: #161B1F;
}

#hr_before_promoted{
  border:0;
  border-top:1px solid #ccc;
  clear:both;
  margin:15px 0 25px;
}

.blue_arrow{
  border-color: #03CCFF transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0;
  display: block;
  height: 0;
  left: 68px;
  margin-left: 2px;
  margin-top: 1px;
  position: relative;
  top: -7px;
  width: 0;
}

/* flybox */
#flyout {
  position: fixed;
  right: -370px;
  bottom: 40px;
  -moz-box-shadow: 0 0 3px 3px #444;
  -webkit-box-shadow: 0 0 3px 3px #444;
  box-shadow: 0 0 3px 3px #444;
  opacity: 0;
  height: 140px;
  width: 370px;
  z-index:10;
}

#flyout {
  border-left: 1px solid black\9;
  border-top: 1px solid black\9;
  border-bottom: 1px solid black\9;
}

#flyout_flyout {
  display: none;
}

#flyout_event {
  display: none;
}

#list_friends_masked li{
  float:left;
  display:block;
  margin-right:10px;
  width:280px;
}

#list_friends_masked li input.float_left{
  margin-top:15px;
}

#list_friends_masked li img.float_left{
  margin:0 10px;
}
#list_friends_masked li p b{
  display:block;
  margin-bottom:5px;
}

.wall_block h4{
  margin-bottom:30px;
}

.wall_block h4.clear{
  padding-top:15px;
}

#form_edit_profile input.float_left{
  margin-top:4px;
  margin-left:5px;
}
