#directory_billboard_container img{
  float:right;
}

#directory_billboard_container{
  background-color:#fff;
  margin:0 auto;
  width:1000px;
  position:relative;
}

#directory_billboard_container h1{
  font-size:34px;
  position:absolute;
  top:75px;
  left:35px;
}

#directory_column_left{
  display: block;
  float: left;
  width: 590px;
  margin-bottom:20px;
}

#directory_column_left .font12px:first-child{
  margin-bottom:15px;
  display: block;
}

#directory_column_right{
  float:left;
  display:block;
  margin-left:60px;
  width:300px;
  margin-bottom:20px;
}

#directory_column_right h3{
  border:0;
  font-weight: bold;
}

#directory_list_container{
  max-height:509px;
  overflow: hidden;
  position:relative;
  clear:both;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
} 

#countries_list,
#cities_list,
#states_list{
  position:relative;
}

#countries_list li,
#cities_list li,
#states_list li{
  border-bottom:1px solid #ccc;
  padding:10px 10px;
  height:30px;
  overflow:hidden;
  font-size:12px;
  color:#999;
}

#countries_list li:last-child,
#cities_list li:last-child,
#states_list li:last-child{
  border:0;
}

#countries_list li:hover, 
#cities_list li:hover,
#states_list li:hover{
  background-color: #EFEFEF;
}

p.order_country_list{
  float:left;
  display:block;
  height:10px;
  padding:7px 10px 10px 0; 
  border-right: 1px solid #ccc;
  font-size:20px;
  font-weight:bold;
}

.infos_country_list{
  float:left;
  display:block;
  margin-left:10px;
  width:225px;
}

.infos_country_list a{
  font-size:14px;
  font-weight:bold;
}

#directory_list_members li{
  height: 105px;
  margin: 15px 0 0 10px;
  text-align: center;
  width: 110px;
}

#directory_list_members li.no_margin{
  margin-left:0;
}

#directory_list_tags{
  margin-top:15px;
}

#directory_list_tags li{
  display: block;
  float: left;
  padding-right: 10px;
  width: 180px;
  line-height: 20px;
}

#directory_list_tags li a{
  font-size:14px;
  font-weight:bold;
}

#directory_list_tags li a:hover{
  color:#0BC8FF;
}

#country_list_arrow_up_container,
#country_list_arrow_down_container{
  cursor: pointer;
  float: right;
  height: 22px;
  margin-right: 15px;
  overflow: hidden;
  width: 42px;
}

#country_list_arrow_up_container{
  margin-top:4px;
  background: transparent url(/styles/images/directory_arrow_up.png) no-repeat left top;
}

#country_list_arrow_up_container:hover{
  background: transparent url(/styles/images/directory_arrow_up_over.png) no-repeat left top;
}

#country_list_arrow_down_container{
  background: transparent url(/styles/images/directory_arrow_down.png) no-repeat left top;
}

#country_list_arrow_down_container:hover{
  background: transparent url(/styles/images/directory_arrow_down_over.png) no-repeat left top;
}

#country_list_arrow_up,
#country_list_arrow_down{
  height:0;
  width:0;
  display:block;
}

#country_list_arrow_down,
#country_list_arrow_up{
  margin: 0;
  padding: 0;
}

#countries_list_actions{
  background-color: #CCCCCC;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 12px;
  padding:3px 4px 2px;
  text-align: left;
  margin-top:4px
}

#countries_list_actions input{
  padding:1px;
}

#countries_list_actions a{
  color:#fff;
}
#countries_list_actions a:hover{
  text-decoration:underline;
}