#actual_photo,#slide_left,#slide_right, #slide_container{
  float:left;
  display:block;
}

#slide_left, #slide_right{
  font-weight: bold;
  height: 40px;
  width: 17px;
}

#slide_right a{
  float: right;
}

#block_slide{
  clear: left;
  margin: 0 auto 0;
  width: 590px;
}

#block_slide p{
  width:578px;
}

#slide_container{
  height: 83px;
  overflow: hidden;
  position: relative;
  width: 556px;
}

#slide_list_photo{
  left: 0;
  position: absolute;
  width: 5000px;
}

#slide_list_photo li{
  float:left;
  display:block;
  margin-right:4px;
}

#slide_list_photo img{
  float:left;
  display:block;
  cursor:pointer;
}

a.photos_shown, div.flog_flash_button {
  display:none;
}

a.photo_visible, div.button_visible{
  display:inline-block;
}

